

.container {
    width: 962px;
    margin: 0 auto;
}

.header{
    width: 100%;
}

.header_up{
    display: flex;
    justify-content: space-between;
}
.header_up_logo{
    position: relative;
}

.header_up_h{
    margin-left: 20px;
    background-color: white;
    position: absolute;
    top:10px;
    margin-top: 0px;
    width: 210px;
}

.header_up_block{
    
    width: 48px;
    height: 50px;
    border: 2px solid #FFC740;
    top: 20px;
    z-index: 3;
}


.header_up_poisk{
    display: flex;
    align-items: center;
}

.header_up_input{
    display: inline-block;
    text-align: center;
    height: 30px;
    border-color: #9B51E0;
}

.header_up_button{
    background: #9B51E0;
    color: white;
    height: 35px;
    width: 40px;
    border: none;
}

.header_nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 10px;
}

.main_image {
    background-color: black;
    position: relative;
}

.main_image_img{
    width: 100%;
    opacity: 0.6;
}


.main_image_text {
    position: absolute;
    top: 12px;
    left: 44px;
}

.main_image_text_h{
    width: 50%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    color: #FFC740;
    
    margin: 0px;
}


.main_image_text_p{
    width: 50%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.main_image_text_button{
    background: #6D3D99;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    border:none;
    padding: 10px;
    padding-inline: 20px;
}

.main_content{
    margin-top: 20px;
}

.main_content_one{
    display: flex;
    margin-top: 20px;
}

.main_content_one_dog{
    display: flex;
    flex-direction: column;
    margin-inline: 10px;
    
}

.main_content_one_dog_top_kvad {
    background-color: #FFC740;
    height: 18px;
    width: 18px;
}

.main_content_one_dog_top{
    display: flex;
    margin-bottom: 15px;
    
}


.main_content_one_dog_top_h{
    margin: 0px;
    margin-inline: 5px;
}

.main_content_one_dog_top_prim{
    background-color: #FFC740;
    width: 270px;
    
}

.main_content_one_dog_bottom{
    display: flex;
}

.main_content_one_dog_bottom_image{
    height: 141px;
    border: 2px solid #FFC740;
    padding: 1px;
}


.main_content_one_dog_bottom_div{
    margin-left: 20px;
}

.main_content_one_dog_bottom_p{
    text-align: justify;
    margin-top: 0px;
    margin-bottom: 9px;
    font-size: 13.5px;
    line-height: 14px;
}

.main_content_one_dog_bottom_a{
    
}


.main_content_two{
    display: flex;
    justify-content: space-between;
    
    margin-top: 20px;
    margin-inline: 10px;
}

.main_content_two_service{
    display: flex;
    flex-direction: column;
}

.main_content_two_service_up{
    display: flex;
}

.main_content_two_service_up_h{
    margin: 0px;
    margin-inline: 5px;
}

.main_content_two_service_up_block{
    background-color: #FFC740;
    width: 200px;
    height: 18px;
}

.main_content_two_service_bottom_p{
    text-align: justify;
}


.main_content_two_resent{
    display: flex;
    flex-direction: column;
    margin-inline: 20px;
}


.main_content_two_resent_bottom{
    display: flex;
    flex-direction: column;
}


.main_content_two_resent_bottom_content_imgage{
    height: 50px;
}

.main_content_two_resent_bottom_content{
    display: flex;
    margin-bottom: 10px;
}

.main_content_two_resent_bottom_content_p{
    margin: 0px;
    min-width: 240px;
    font-size: 13.5px;
    margin-left: 10px;
}

.main_content_two_resent_up{
    display: flex;
    margin-bottom: 20px;
}


.main_content_two_resent_up_block{
    background-color: #FFC740;
    width: 130px;
    height: 18px;
}

.clents{
    display: flex;
    margin-top: 20px;
}

.clents_h{
    margin: 0px;
    margin-inline: 5px;
}

.clents_prim{
    background-color: #6D3D99;
    width: 100%;
    height: 18px;
}


#yelow{
    background-color: #6D3D99;
}

.clents_img{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.clents_img_image{
    
    height: 100px;
    
}

.header_nav_button{
    width: 123px;
    height: 47px;
    background-color: white;
    border:none;
    font-weight: 700;
}


.header_nav_button:hover{
    
    background-color: #FFC740;
}

#text_decor{
    text-decoration: underline;
}

@media (max-width: 990px){
    .container{
        width: 600px;
    }

    .main_image_text_h{
        font-size: 22px;
        line-height: 40px;
    }

    .main_image_text_p{
        font-size: 13px;
        margin-bottom: 5px;
    }

    .main_image_text_button{
        font-size: 10px;
        padding:0px;
        
    }

    .main_content_one{
        display: block;
    }

    .main_content_two{
        display: block;
    }

    .main_content_one_dog{
        margin-top: 20px;
    }

    .main_content_one_steve{
        margin-top: 20px;
    }

    .main_content_two_service{
        margin-top: 20px;
    }

    .main_content_two_resent{
        margin-top: 20px;
        margin-inline: 0px;
        
    }
}

@media (max-width: 770px){
    .clents_img{
        flex-direction: column;
        justify-content: center;
    }

    .clents_img_image{
        width: 200px;
        margin: 0 auto;
    }
}

@media (max-width: 620px){
    .container{
        width: 400px;
    }

    .header_up_h{
        width: 150px;
    }
    
    .header_up_block{
        height: 90px;
    }

    .main_image_text{
        left:20px;
    }

    .main_image_text_h{
        width: 100%;
        font-size: 16px;
        line-height: 16px;
    
    }

    .main_image_text_p{
        font-size: 10px;
        width: 100%;
        
    }

    .main_image_text_button{
        
    }

    .header_nav{
        flex-direction: column;
    }

    .header_nav_button{
        margin: 0 auto;
        width: 100%;
    }
}

@media (max-width: 420px){
    .container{
        width: 350px;
    }

    .main_image_text_h{
        line-height: 10px;
    }

    .header_up_h{
        width: 110px;
    }
    
    .header_up_block{
        height: 90px;
    }
}